<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900457764149-31e6suk7vepjlj5sou5b7imppnkck0ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900457764149-31e6suk7vepjlj5sou5b7imppnkck0ri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900457764149-hglpi5ah7p323pe75gmcr2duq5721rrl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxcgCBHgHQ-DHKHqCcVo4NsrsxgEWcmIw</string>
	<key>GCM_SENDER_ID</key>
	<string>900457764149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temani</string>
	<key>PROJECT_ID</key>
	<string>temani---tracker-kehamilan</string>
	<key>STORAGE_BUCKET</key>
	<string>temani---tracker-kehamilan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900457764149:ios:d5af92fc5d705c6b14287c</string>
</dict>
</plist>